sudo: false
language: python
cache: pip
services:
  - mongodb
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
matrix:
  include:
    - python: 3.7 # https://github.com/travis-ci/travis-ci/issues/9069#issuecomment-425720905
      dist: xenial
      sudo: true
install:
  - pip install -U pip setuptools
  - pip install tox-travis pre-commit
  - pip install codecov
script:
  - tox
  - pre-commit run --all-files
after_success:
  - codecov
before_script:
  - mongo mydb_test --eval 'db.createUser({user:"travis",pwd:"test",roles:["dbAdmin"]});'
